.bar-expand{
    background: #737373 !important;
    height: 25px !important;
}

.bars li em {
    color: #ffffff !important;
    top: -23px !important;
}

.bars li {
    background: #c1c1c1 !important;
    height: 25px !important;
    margin-bottom: 45px !important;
}

.bars ul{
    margin: 0 !important;
}

#about h1, #about h4{
    color: #fff !important;
}

p.address{
    padding: 1em !important;
}

.contact-details strong{
    color: #fff !important;
}

.download{
    text-align: center !important;
    width: 100% !important;
}

.download > p{
    margin: 30px 0 0 0 !important;
}

.other-skills{
    margin: 0 !important;
}

.other-skills > strong{
    color: #fff !important;
}

.skill-js{
    width: 80%;
}

.skill-angular{
    width: 50%;
}

.skill-react{
    width: 50%;
}

.skill-node{
    width: 50%;
}

.skill-html{
    width: 50%;
}

.skill-java{
    width: 50%;
}

.row.item{
    margin-bottom: 1.4em !important;
}

.education{
    border-bottom: none !important;
}

#resume{
    padding-bottom: 0 !important;
}

#resume .info {
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}

#resume h3 {
    margin-bottom: 0px !important;
}